/* Cuerpo */
body,
html {
    margin: 0;
    padding: 0;
    background-color: #121212;
}

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */

/* navbar */
nav {
    background-color: rgba(18, 18, 18, 0.8);
    transition: background-color 0.5s ease, top 0.5s ease;
}

nav.scrolled {
    background-color: #ffbf00;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

nav.scrolled .navbar-nav .nav-link {
    color: white;
}

nav.scrolled .navbar-nav .nav-link:hover {
    color: black;
}

nav.scrolled .nav-item .nav-link.active {
    color: black;
}


.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
    margin-left: 20px;
    color: #FFD700;
    transition: color 0.3s;
}

nav.scrolled .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-nav .nav-link:hover {
    color: #D4AF37;
}

.nav-item .nav-link.active {
    color: #D4AF37;
}

.navbar-nav .bi {
    margin-right: 5px;
    font-size: 1.5rem;
}

.titulo {
    font-size: 1.6em;
}

.transparencia {
    background-color: rgba(0, 0, 0, 0.7);
}

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */

/* Imagen hero */
.heroe {
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    height: 100vh;
}

.heroImage {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
}

.heroText {
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #D4AF37;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0);
    font-family: "Londrina Shadow", sans-serif;

}

.heroText>h1 {
    font-size: 4.5em;
    color: #FFD700;
}

.heroText>p {
    font-size: 2.5em;
    color: #ffffff;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */

/* Recetas Inicio */
section.container {
    padding: 2rem 1rem;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

section p {
    font-size: 1.2rem;
    color: #a8a8a8;
    line-height: 1.6;
    text-align: justify;
}

section li {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    color: #FFD700;
}

section p strong {
    color: #ffffff;
}

section li strong {
    color: #ffffff;
}

section a {
    text-decoration: none;
}

section .text-center h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    color: #FFD700;
}

section .text-center p {
    font-size: 1.1rem;
    color: #a8a8a8;
}

section .card {
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #2a2a2a;
}

section .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

section .card-img-top {
    border-radius: 8px 8px 0 0;
    height: 200px;
    object-fit: cover;
}

section .card-title {
    font-size: 1.5rem;
    color: #FFD700;
}

section .card-text {
    color: #c0c0c0;
}

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */


/* Carrusel */
.carouselImage {
    height: 700px;
    object-fit: cover;
}

.carousel-item {
    object-fit: cover;
}

.carouselText {
    font-family: 'Courier New', Courier, monospace;
}

.carouselText h1 {
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
    -moz-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
    -ms-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
    -o-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
    text-shadow: 0 0 0 transparent, 0 0 0 transparent;
    color: rgba(255, 215, 0, 0.7);
    overflow: visible;
    font-weight: 900;
    letter-spacing: 2px;
}

.carouselText h1:hover {
    color: #FFD700;
    -webkit-text-shadow: 0 0 10px #D4AF37, 0 0 50px #FFD700;
    -moz-text-shadow: 0 0 10px #D4AF37, 0 0 50px #FFD700;
    -ms-text-shadow: 0 0 10px #D4AF37, 0 0 50px #FFD700;
    -o-text-shadow: 0 0 10px #D4AF37, 0 0 50px #FFD700;
    text-shadow: 0 0 10px #D4AF37, 0 0 50px #FFD700;
}

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */

/* Footer */
footer {
    background-color: #121212;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: #FFD700;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #D4AF37;
}

.navbar-nav.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-nav .menuItem {
    position: relative;
    cursor: pointer;
}

.navbar-nav .menuItem .wee {
    height: 2px;
    width: 100%;
    background-color: #FFD700;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.75s;
    opacity: 0;
}

.navbar-nav .menuItem:hover .wee {
    opacity: 1;
}

.navbar-nav .currentMenuItem .wee {
    opacity: 1;
}

nav.scrolled .navbar-nav .menuItem .wee {
    background-color: #000000;
}

nav.scrolled .navbar-nav .currentMenuItem .wee {
    opacity: 1;
}

nav.scrolled .navbar-nav .menuItem:hover .wee {
    opacity: 1;
}

.navbar-nav .menuItem .nav-link {
    transition: 0.75s;
}

/* galeria */
.galeriaDeImagenes h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #FFD700;
    text-shadow: 2px 2px 5px rgba(0, 0, 0);
    font-family: 'Bebas Neue', sans-serif;
    border-bottom: solid;
}

.galeriaDeImagenes {
    margin-top: 120px;
}

.botonCategoria {
    border: 1px solid #FFD700;
    border-radius: 20px;
    padding: 5px 15px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #121212;
    color: #FFD700;
    transition: background-color 0.3s, color 0.3s;
}

.botonCategoria.activo {
    background-color: #FFD700;
    color: #121212;
}

.botonCategoria:hover {
    background-color: #D4AF37;
    color: #ffffff;
}

.galeria img {
    margin-top: 5px;
    object-fit: cover;
    /* Ajusta las imágenes para que ocupen el contenedor */
    border-radius: 10px;
    width: 100%;
    /* Asegura que ocupe todo el ancho del contenedor */
    height: 200px;
    /* Altura fija para todas las imágenes */
    transition: transform 0.3s, opacity 0.5s ease-in-out;
}

.galeria img:hover {
    transform: scale(1.05);
}

.galeria .col-md-3 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.galeria .col-md-3.visible {
    opacity: 1;
}

/* Lightbox */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    position: relative;
    margin: auto;
    display: block;
    width: 60%;
    /* Reduce el tamaño de la imagen */
    max-width: 500px;
    /* Ajusta el tamaño máximo */
}

.lightbox-content img {
    width: 100%;
    max-height: 50vh;
    object-fit: contain;
    margin-top: 50%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #FFD700;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-size: 50px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: #D4AF37;
}

.heroTextGaleria {
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    color: #D4AF37;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0);
    font-family: "Londrina Shadow", sans-serif;

}

.heroTextGaleria>h1 {
    font-size: 4.5em;
    color: #FFD700;
}

.flechaAbajo img {
    margin-top: 150px;
    width: 150px;
    animation: mover 0.7s ease-in-out infinite alternate;
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(30px);
    }
}

/* Contacto Datos */
.heroeContacto {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    position: relative;
}

.heroImageContacto {
    width: 500px;
    height: auto;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.heroTextContacto {
    white-space: nowrap;
    position: absolute;
    color: #D4AF37;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0);
    font-family: "Londrina Shadow", sans-serif;

}

.heroTextContacto h1 {
    font-size: 19.5em;
    line-height: 0.9;
}

.heroTextContacto div {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
}

.heroTextContacto div:hover,
.social-icons i:hover {
    cursor: pointer;
    color: #FFD700;
    -webkit-text-shadow: 0 0 10px #D4AF37, 0 0 50px #FFD700;
    -moz-text-shadow: 0 0 10px #D4AF37, 0 0 50px #FFD700;
    -ms-text-shadow: 0 0 10px #D4AF37, 0 0 50px #FFD700;
    -o-text-shadow: 0 0 10px #D4AF37, 0 0 50px #FFD700;
    text-shadow: 0 0 10px #D4AF37, 0 0 50px #FFD700;
}

.social-icons {
    position: absolute;
    left: 30px;
    margin-bottom: 10px;
    display: flex;
}

.social-icons i {
    font-size: 2rem;
    color: #FFD700;
}

.list-unstyled {
    color: #FFD700;
}

.list-unstyled a {
    color: inherit;
    text-decoration: none;
}

.list-unstyled a:hover {
    cursor: pointer;
    color: #FFD700;
    -webkit-text-shadow: 0 0 10px #D4AF37, 0 0 10px #FFD700;
    -moz-text-shadow: 0 0 10px #D4AF37, 0 0 10px #FFD700;
    -ms-text-shadow: 0 0 10px #D4AF37, 0 0 10px #FFD700;
    -o-text-shadow: 0 0 10px #D4AF37, 0 0 10px #FFD700;
    text-shadow: 0 0 10px #D4AF37, 0 0 10px #FFD700;
}

.list-unstyled strong {
    color: white;
}

.infoContacto {
    margin-top: 20px;
    padding: 2rem 1rem;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

.infoContacto .col-lg-5 {
    margin-bottom: 30px;
    /* background-color: #2a2a2a; */
    padding: 15px;
    border-radius: 1%;
}

.infoContacto p {
    font-size: 2em;
    text-align: center;
    border-bottom: white solid;
}

.infoContacto h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #FFD700;
    text-shadow: 2px 2px 5px rgba(0, 0, 0);
    font-family: "Londrina Shadow", sans-serif;
}


.infoFacebook {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.formularioContacto p {
    font-size: 1.2rem;
    color: #a8a8a8;
    line-height: 1.6;
    text-align: justify;
}

.formContacto {
    color: black;
}

.form-floating input,
.form-floating textarea {
    background-color: #2e2e2e;
    color: #ffffff;
    border: 1px solid #FFD700;
}

.form-floating label {
    color: #FFD700;
}

.form-floating input::placeholder,
.form-floating textarea::placeholder {
    color: #a8a8a8;
}

.btn-primary {
    background-color: #FFD700;
    border-color: #FFD700;
    color: #121212;
}

.btn-primary:hover {
    background-color: #D4AF37;
    border-color: #D4AF37;
}

.mapaContacto {
    width: 100%;
    height: 350px;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#mensaje {
    height: 200px;
}

.input-error {
    border-color: red !important;
}

.error-text {
    color: red;
    font-size: 0.9em;
    margin-top: 0.25rem;
    display: block;
}

/* ------------------------------------------------------------------------------------------------------- */
/* RECETAS*/
/* Estilo base del timeline */
#timeLineRecetas>h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #FFD700;
    text-shadow: 2px 2px 5px rgba(0, 0, 0);
    font-family: 'Bebas Neue', sans-serif;
    border-bottom: solid;
}

.timeLine {
    position: relative;
    /* Para posicionar el pseudo-elemento */
    padding-left: 30px;
    /* Espacio para la línea */
}

.timeLine::before {
    content: '';
    position: absolute;
    top: 0;
    /* Comienza desde la parte superior */
    left: 15px;
    /* Ajusta la posición horizontal de la línea */
    bottom: 0;
    /* Se extiende hasta la parte inferior */
    width: 2px;
    /* Ancho de la línea */
    background-color: #FFD700;
    /* Color de la línea */
    z-index: 1;
    /* Asegura que la línea esté detrás del contenido */
}

.receta {
    position: relative;
    /* Para posicionar los puntos */
    margin-bottom: 20px;
    /* Espacio entre recetas */
    padding-left: 20px;
    /* Espacio a la izquierda para el texto */
}

.receta::before {
    content: '';
    position: absolute;
    left: 5px;
    /* Ajusta la posición horizontal del punto */
    top: 15px;
    /* Ajusta la posición vertical del punto */
    width: 10px;
    /* Ancho del punto */
    height: 10px;
    /* Alto del punto */
    background-color: #FFD700;
    /* Color del punto */
    border-radius: 50%;
    /* Hace que el punto sea redondo */
    z-index: 2;
    /* Asegura que el punto esté por encima de la línea */
}

.receta>div>img {
    height: 100%;
    max-height: 350px;
    object-fit: cover;
}

.receta>h2 {
    color: #FFD700;
    font-family: 'Bebas Neue', sans-serif;
}

.paso {
    font-size: 16px;
    /* Tamaño de fuente */
    margin-bottom: 10px;
    /* Espacio entre pasos */
    display: flex;
    /* Usar flexbox para alinear elementos */
    align-items: flex-start;
    /* Alinear el número de paso y el texto al inicio */
}

.numero-paso {
    font-weight: bold;
    /* Estilo del número de paso */
    color: #FFD700;
    /* Color del número de paso (mismo que el resto de la página) */
    width: 30px;
    /* Ancho fijo para el número de paso */
    text-align: right;
    /* Alinear el texto a la derecha */
    margin-right: 10px;
    /* Espacio entre el número y el texto */
}

.texto-paso {
    flex: 1;
    /* Permite que el texto ocupe el espacio restante */
    line-height: 1.5;
    /* Mejora la legibilidad del texto */
    color: #a8a8a8;
    /* Color del texto (coincide con el resto de la página) */
}

/* ------------------------------------------------------------------------------------------------------- */
/* COOKIES*/

.cookieAviso {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
}

.cookieAceptar {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cookieLogo {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.cookieTitulo {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.cookieMensaje {
    margin-bottom: 20px;
}

.btnAceptarCookies {
    background-color: #FFD700;
    border: none;
    color: #121212;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}

.btnAceptarCookies:hover {
    background-color: #D4AF37;
}

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
.banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffbf00;
    color: #121212;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #121212;
}

.banner form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.banner input[type="email"] {
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.banner button {
    padding: 5px 10px;
    background-color: #FFD700;
    border: none;
    color: #121212;
    border-radius: 4px;
    cursor: pointer;
}

.banner button:hover {
    background-color: #D4AF37;
}

/*Más pequeño*/
@media (max-width: 392.9px) {

    .Text>h1,
    .heroTextGaleria>h1 {
        font-size: 2em;
    }

    .heroText>p {
        font-size: 0.9em;
        font-family: 'Courier New', Courier, monospace;
    }

    .carouselImage {
        height: 400px;
    }

    .titulo {
        font-size: 1.2em;
    }

    section .text-center h2 {
        /*INTRO TITULO*/
        font-size: 1.4em;
    }

    .filtrosGaleria {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .botonCategoria {
        width: 30%;
        /* Ajusta el ancho para que quepan 3 botones en una fila */
        padding: 5px 10px;
        /* Reduce el padding */
        font-size: 1em;
        /* Ajusta el tamaño de la fuente */
        margin-bottom: 10px;
        /* Añade un margen inferior para separar las filas */
        text-align: center;
    }

    .lightbox-content img {
        margin-top: 30vh;
        /* Ajusta el margen superior */
    }

    .galeriaDeImagenes h1,
    .infoContacto h1 {
        font-size: 50px;
    }

    #timeLineRecetas h1 {
        font-size: 37px;
    }

    .heroTextContacto h1 {
        font-size: 1.5em;
        line-height: 0.9;
    }
}

/*IPHONE 8*/
@media (min-width: 393px) and (max-width: 767.9px) {

    .heroText>h1,
    .heroTextGaleria>h1,
    .heroTextGaleria>h1 {
        font-size: 2em;
    }

    .heroText>p {
        font-size: 0.9em;
        font-family: 'Courier New', Courier, monospace;
    }

    .carouselImage {
        height: 400px;
    }

    section .text-center h2 {
        font-size: 1.7em;
    }

    .filtrosGaleria {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .botonCategoria {
        text-align: center;
        width: 30%;
        /* Ajusta el ancho para que quepan 3 botones en una fila */
        padding: 5px 10px;
        /* Reduce el padding */
        font-size: 1em;
        /* Ajusta el tamaño de la fuente */
        margin-bottom: 10px;
        /* Añade un margen inferior para separar las filas */
    }

    .lightbox-content img {
        margin-top: 30vh;
        /* Ajusta el margen superior */
    }

    .galeriaDeImagenes h1,
    .infoContacto h1 {
        font-size: 50px;
    }

    #timeLineRecetas h1 {
        font-size: 37px;
    }

    .heroTextContacto {
        top: 20%;
        left: 50%;
        transform: translate(-50%, -10%);
    }

    .heroTextContacto h1 {
        font-size: 5.5em;
        line-height: 0.9;
    }

    .heroTextContacto div {
        display: contents;
    }

    .heroTextContacto div i {
        display: none;
    }

    .heroImageContacto {
        width: 390px;
    }

    .social-icons {
        position: absolute;
        left: 50%;
        top: 50%;
        display: flex;
        transform: translate(-50%, -50%);
    }

    .social-icons i {
        font-size: 2rem;
        color: #FFD700;
    }

    .receta::before {
        top: 10px;
    }

    .receta>div>div {
        margin-top: 10px;
    }


}

/* IPAD MINI */
@media (min-width: 768px) and (max-width: 1023.9px) {

    .heroText>h1,
    .heroTextGaleria>h1 {
        font-size: 4em;
    }

    .heroText>p {
        font-size: 2.3em;
    }

    .carouselImage {
        height: 450px;
    }

    .galeriaDeImagenes h1,
    .infoContacto h1 {
        font-size: 90px;
    }

    #timeLineRecetas h1 {
        font-size: 71px;
    }

    .heroTextContacto {
        top: 20%;
        left: 50%;
        transform: translate(-50%, -10%);
    }

    .heroTextContacto h1 {
        font-size: 9.5em;
        line-height: 0.9;
    }

    .heroTextContacto div {
        display: contents;
    }

    .heroTextContacto div i {
        display: none;
    }

    .social-icons {
        position: absolute;
        left: 50%;
        top: 53%;
        display: flex;
        transform: translate(-50%, -50%);
    }

    .social-icons i {
        font-size: 2rem;
        color: #FFD700;
    }

    .receta::before {
        top: 10px;
    }

    .receta>div>div {
        margin-top: 10px;
    }

    .banner {
        bottom: auto;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 350px;
        text-align: left;
    }
}

/* IPAD PRO */
@media (min-width: 1024px) and (max-width: 1439.9px) {
    .carouselImage {
        height: 500px;
    }

    .galeriaDeImagenes h1,
    .infoContacto h1 {
        font-size: 110px;
    }

    #timeLineRecetas h1 {
        font-size: 90px;
    }

    .heroTextContacto {
        top: 20%;
        left: 50%;
        transform: translate(-50%, -10%);
    }

    .heroTextContacto h1 {
        font-size: 14em;
        line-height: 0.9;
    }

    .heroTextContacto div {
        display: contents;
    }

    .heroTextContacto div i {
        display: none;
    }

    .social-icons {
        position: absolute;
        left: 50%;
        top: 55%;
        display: flex;
        transform: translate(-50%, -50%);
    }

    .social-icons i {
        font-size: 2rem;
        color: #FFD700;
    }

    .receta::before {
        top: 10px;
    }

    .banner {
        bottom: auto;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 350px;
        text-align: left;
    }
}

/* PORTATIL */
@media (min-width: 1440px) and (max-width: 1919.9px) {
    .carouselImage {
        height: 600px;
    }

    .galeriaDeImagenes h1,
    .infoContacto h1,
    #timeLineRecetas h1 {
        font-size: 120px;
    }

    .banner {
        bottom: auto;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 350px;
        text-align: left;
    }
}

/* FULL HD */
@media (min-width: 1920px) {
    .carouselImage {
        height: 700px;
    }

    .galeriaDeImagenes h1,
    .infoContacto h1,
    #timeLineRecetas h1 {
        font-size: 130px;
    }

    .banner {
        bottom: auto;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 350px;
        text-align: left;
    }
}